/******************************************************************************************/
/******************************************************************************************/
/* TODOS */
/******************************************************************************************/
/******************************************************************************************/

.todo-h3 {
	margin: 1rem;
	text-align: center;
}

.todo-form {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.todo-title {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0.5rem;
	border-bottom: 1px solid var(--main-grey);
}

.todos-ul {
	width: 100%;
	list-style: none;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-left: 0px;
	padding-bottom: 1rem;
	border-top: 2px solid var(--main-blue);
}

.todos-li {
	width: 95%;
	border-bottom: 1px solid var(--main-grey);
	padding: 1rem 0.5rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todos-h6 {
	width: 20%;
	width: 95%;
	border-bottom: 1px solid var(--main-grey);
	padding: 1rem 0.5rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todos-h6 h6 {
	font-weight: bolder !important;
	font-size: 0.9rem;
	font-style: oblique;
}

.todo-task {
	width:50%;
	display: flex;
	flex-wrap: wrap;
	padding-right: 1.5rem;
}

.deadline-title {
	margin-left: 1rem;
}

.todo-date {
	width: 25%;
	margin-left: -2rem;
}

.todo-deadline-h6 {
	padding-left: 9rem;
}

.edit-form-h5 {
	text-align: center;
}

.edit-form {
	margin-top: 3rem;
}

.edit-cancel-btn {
	margin-left: 1rem;
}