/******************************************************************************************/
/******************************************************************************************/
/* UNIVERSAL */
/******************************************************************************************/
/******************************************************************************************/

:root {
	--main-blue: #007bff;
	--main-navy: #0023d3;
	--secondary-blue: #037bfe;
	--third-blue: #beeeff;
	--dark-blue: #3692f6;
	--main-cyan: #e7f8f8;
	--main-white: #fff;
	--secondary-white: #f5f5f5;
	--main-orange: #e68a12;
	--main-grey: #2a2b2d;
	--main-green: #045911;
	--main-red: #ab1010;
}

* {
	box-sizing: border-box !important;
}

body {
	font-family: 'Courier New', Courier, monospace !important;
	font-weight: bold !important;
	letter-spacing: 0.5px;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--main-blue) !important;
}

main {
	flex-grow: 1;
	background-color: var(--main-cyan);
	color: var(--main-grey);
	font-size: 1.1rem;
	overflow: scroll;
}

:is(.landing, .home, .calculator-page, .budget, .todo, .timer, .journal, .workouts, .diet) {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-color: var(--main-cyan);
}

.current-user {
	font-style: oblique;
}

.budget-dropdown-top{
	margin-top: 1rem!important;
	background-color: var(--main-navy) !important;
}

/******************************************************************************************/
/******************************************************************************************/
/* NAVBAR */
/******************************************************************************************/
/******************************************************************************************/

.navbar a {
	color: var(--third-blue) !important;
	margin: 0 0.5rem;
}

a.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar a:hover {
	color: var(--main-white) !important;
}

button.navbar-toggler {
	border: none !important;
}

.navbar-toggler-icon {
	background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=fff') !important;
}

.navbar-nav {
	flex-direction: row !important;
	justify-content: space-evenly;
}

/******************************************************************************************/
/******************************************************************************************/
/* HOME */
/******************************************************************************************/
/******************************************************************************************/

.home-intro {
	text-align: center;
	margin-top: 2rem;
}

.home-intro-h2 {
	font-weight: bold;
}

.home-intro-p {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.dropdown-item {
	width: 90% !important;
}
.dropdown-menu {
	background-color: var(--secondary-blue) !important;
	border: none !important;
}

.budget-dropdown.dropdown-toggle {
	background-color: var(--main-navy) !important;
	margin-top: 0.25rem !important;
	border: 1px solid white;
}

div.dropdown {
	margin-top: -1rem;
}

.dropdown-menu > a {
	color: var(--main-white) !important;
}

div.ml-auto.navbar.nav {
	justify-content: space-between !important;
}

.dropdown-menu > a:hover {
	background-color: var(--dark-blue);
}

#basic-navbar-nav {
	margin-right: 3rem;
}

#dropdown-basic {
	margin-top: 2rem;
	padding: 0.5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-info {
	margin-top: 3rem;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/******************************************************************************************/
/******************************************************************************************/
/* CALCULATOR */
/******************************************************************************************/
/******************************************************************************************/

.calculator-page {
	align-items: flex-start;
}

.Calculator {
	height: 60%;
	display: block;
	width: 25%;
	margin: 1rem;
}

.Button {
	color: var(--main-white);
	width: 25%;
	height: 20%;
	font-size: 4vmin;
	border-color: black;
}

.Button:focus {
	outline: 0px;
}

.Button:active {
	opacity: 0.5;
}

.BlackButton {
	background-color: var(--dark-blue);
	/* #434343; */
}

.GrayButton {
	background-color: var(--secondary-blue);
	/* #5d5e5e; */
}

.OrangeButton {
	background-color: var(--main-orange);
}

.LargeButton {
	width: 50%;
	text-align: left;
	padding-left: 10%;
}

.Display {
	width: 100%;
	height: 25%;
	background-color: var(--main-navy);
	/* #323232; */
	font-size: 7vmin;
	color: white;
	display: flex;
	align-items: flex-end;
	flex-direction: column-reverse;
}

.DisplaySpan {
	height: 100%;
	margin: -5px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/******************************************************************************************/
/******************************************************************************************/
/* BUDGET */
/******************************************************************************************/
/******************************************************************************************/

.budget {
	/* margin: 1rem; */
}

.budget-dropdown {
	margin-top: 0rem !important;
	margin-bottom: 1rem;
}

.budget-input {
	width: 100%;
	display: flex;
	justify-content: center;
}

.budget-form {
	width: 100%;
	text-align: center;
}

.budget-cancel-btn {
	margin: 0 0 0 0.25rem;
}

.budget-submit-btn,
.budget-cancel-btn {
	height: fit-content;
}

.budget-delete-btn {
	padding: 0 0.5rem !important;
	margin-top: -0.25rem;
	/* background-color: rgb(138, 60, 46)!important; */
	/* color: black!important; */
	border: none!important;
}

:is(#income, #expense, #debt, #savings, #value, #date) {
	padding: 0.3rem;
	/* margin-right: 10px; */
	/* border: 1px solid; */
}

:is(a#income.dropdown-item, a#expense.dropdown-item, a#debt.dropdown-item, a#savings.dropdown-item) {
	width: 100% !important;
}

.income-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#date {
	margin-right: 10px;
}

.budget-h4 {
	box-shadow: 0px 4px 2px -2px var(--main-blue);
	margin-bottom: 2rem;
	background-color: rgba(200, 233, 255, 0.75);
	width: 100vw;
	text-align: center;
	font-weight: 600;
	padding: 0.5rem;
}

.responsiveTable {
	background-color: var(--main-cyan);
	text-align: center;
	margin-top: 1.5rem;
}

.th {
	text-decoration: underline 3px;
}

.td {
	font-weight: 500;
	padding: 0.5rem 0rem;
}

:is(.income-span, .savings-span, .leftover-span, .expense-span, .debt-span) {
	color: var(--main-white);
	padding: 0.25rem 0.75rem;
	width: 50%;
}

:is(.income-span, .savings-span, .leftover-span) {
	/* background-color: var(--main-green); */
	color:  var(--main-white);
	font-weight: 600;
	background-color: rgba(4, 89, 17, .75);
}

:is(.expense-span, .debt-span) {
	/* background-color: var(--main-red); */
	color:  var(--main-white);
	background-color: rgba(171, 16, 16, 0.75);
	font-weight: 600;
}

.all-budget-items {
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.all-budget-items-h6 {
	text-transform: uppercase;
	box-shadow: 0px 4px 2px -2px var(--main-blue);
	text-align: center;
	background-color: rgba(200, 233, 255, 0.75);
	width: 100%;
	padding: .75rem;
	font-weight: 600;
}

.budget-items-div {
	display: flex;
	justify-content: space-between;
	padding: .5rem 1.5rem;
	align-items: center;
}

.budget-type-span {
	text-transform: capitalize;
}

.budget-value-span {
	width: 20%;
	margin-left: 1rem;
}

.budget-type-span,
.budget-date-span {
	width: 25%;
}

.span-title  {
	font-style: italic;
}


.red {
	color: var(--main-white);
	background-color: rgba(171, 16, 16, 0.75);
	padding-left: 5px;
}

.green  {
	color: var(--main-white);
	background-color: rgba(4, 89, 17, .75);
	padding-left: 5px;
}


/******************************************************************************************/
/******************************************************************************************/
/* FOOTER */
/******************************************************************************************/
/******************************************************************************************/

.footer {
	width: 100vw;
	background-color: var(--main-blue) !important;
	color: var(--third-blue) !important;
	font-size: 0.75rem;
}

.footer-content {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/******************************************************************************************/
/******************************************************************************************/
/* MEDIA QUERIES */
/******************************************************************************************/
/******************************************************************************************/

@media (min-width: 601px) and (max-width: 800px) {
	main {
		font-size: 1rem !important;
	}
	#nav-dropdown {
		margin-top: -1rem !important;
		padding-left: 1rem !important;
		margin-left: -3rem !important;
		font-size: 0.8rem !important;
	}

	a.nav-link {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
	#dropdown-basic {
		margin-top: 1rem;
		font-size: 0.8rem;
	}
	.dropdown-menu {
		font-size: 0.8rem !important;
	}
	.btn {
		font-size: 0.8rem !important;
	}
	.home-intro-h2 {
		font-size: 1.5rem;
	}
	.home-info {
		margin-top: 1rem;
	}
	.Calculator {
		width: 50%;
	}
	.Button {
		font-size: 3vmin !important;
	}
	.Display {
		font-size: 6vmin !important;
	}
	:is(#income, #expense, #debt, #savings) {
		width: 50%;
	}
}

@media screen and (max-width: 40em) {
	.responsiveTable tbody tr {
		padding: 0 !important;
		border: none !important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	td.td.pivoted {
		width: 90%;
		display: flex;
		justify-content: space-evenly;
		margin-top: -1rem;
	}
	.responsiveTable tbody tr td {
		margin-bottom: 1rem;
		margin-left: 1rem;
	}
}

@media (min-width: 250px) and (max-width: 600px) {
	main {
		font-size: 0.8rem !important;
	}
	#nav-dropdown {
		margin-top: .25rem !important;
		padding-left: 1rem !important;
		margin-left: -3rem !important;
		font-size: 0.8rem !important;
	}
	.budget-dropdown-top{
		margin-top: 2rem!important;
		background-color: var(--main-navy) !important;
	}

	a.nav-link {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 1rem;
	}
	#dropdown-basic {
		margin-top: 1rem;
		font-size: 0.8rem;
	}
	.dropdown-menu {
		font-size: 0.7rem !important;
	}
	.btn {
		font-size: 0.7rem !important;
	}
	.home-intro-h2 {
		font-size: 1.25rem;
	}
	.home-info {
		margin-top: 1rem;
	}
	.Calculator {
		width: 75% !important;
		margin: 1rem auto;
		height: 50%;
	}
	.Display {
		font-size: 5vmin !important;
	}
	:is(#income, #expense, #debt, #savings, #value, #date) {
		width: 40%;
	}
}
