.login-form {
	text-align: center;
	margin-top: 1em;
}

.login-redirect-div {
	position: fixed;
	bottom: 15%;
	width: 100%;
	/* background-color: var(--main-white); */
	text-align: center;
	padding: 1rem;
}